@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap'); 

@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/static/Roboto-Medium.ttf') format("truetype");
}


body {
    font-family: "Montserrat", sans-serif;
    line-height: 1;
}

h1, h2, h3 {
    font-weight: 400;
    line-height: 120%;
}

.description-title > * {
    text-align: center;
}

.first-screen {
    background: url('./assets/images/9d87e92590ae5ecb611ebe146e21a634.png') no-repeat center/cover;
    width: 100%;
    height: 100vh;
}

.first-screen h1 {
    font-weight: 800;
    font-size: 3.9em;
    color: #fff;
    line-height: 95%;
}

.first-screen h2 {
    font-size: 1.25em;
}

.description-title h1 {
    font-size: 3.75em;
}

.description-title p:first-of-type {
    font-size: 1.69em;
}

.description-title p:last-of-type {
    font-size: 1.25em;
    color: #73A6B1;
}

.description-block h3 {
    font-size: 2.9em;
}

.description-block p {
    font-size: 1.25em;
}

.description-block{
    background-color: #F1FDFF;
}
